* {
   
    text-align: left;
    font-size: 20px;
   /* background: #FFA691; */
}


h1{
    font-size:3em;
    color:#FAEBEA;
    font-family: 'Monoton', cursive;
    text-align:center;
  

}

h2{
    font-size:2em;
    color:#FAEBEA;
    text-align: center;
    font-family:'Indie Flower', cursive;

}
h3{
    font-size: 1.5em;
    color:#758F7E;
    font-family: 'Josefin Slab', serif;

}


.question{
    font-family: 'Indie Flower', cursive;
    color:#FAEBEA;
   
}

.answer{
    font-family: 'Nanum Pen Script', cursive;
    padding: 1em;
    color: #056A58;
   
}
section{
    width: 100%;
    border: 1em solid  #056A58;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

#total{
  
    font-family: 'Nanum Pen Script', cursive;
    font-size:1.5em;
    text-align: right;
    color:red;
}

#left{
    width: 40%;
    float: left;
    height: 100%;
}

#right{
    float: left;
    width:40%;
    border: 0em;
    padding: 0em;
    margin:0em;

}

#more{
    font-family: 'Indie Flower', cursive;
    padding: 1em;
    color:#FAEBEA;
}

#user{
  
    font-family: 'Shadows Into Light Two', cursive;
    color:#FAEBEA;

}

#vacation{
    font-size:1.2em;
    font-family: 'Shadows Into Light Two', cursive;
    color: #056A58;

}

ol{
    font-family: 'Shadows Into Light Two', cursive;
    padding: 1em;
    list-style-type: decimal;
}